div p {
color: #ff9900;
font-family:arial;
font-size:18px;
}
h4{
color:blue;
font-family:times;

}
#bg-color {
background-color: #f5f5f0;
opacity:0.9;

}
#b1 {
        height:1100px;
        margin-left:480px;
        width:1200px;
}
div h1{
font-family:american Typewriter;
color: #00264d;

}