#reg {
width:600px;
margin-left:480px;
height:980px;
opacity:0.9;

}
#sub {
margin-left:190px;
}
#img {
background-color: #ccff33;

}
form a {
margin-left:170px;
}
h1{
text-align:center;
color:Black;
font-family:arial;
}