{% extends 'home/base.html' %}
{% load static %}
{% block title %}
    <title>Profile</title>
{% endblock %}
{% block contents %}
<link rel="stylesheet" href="{% static 'account/css/profile.css' %}">
<body style="background-image:url({% static 'account/images/profile.jpg' %}); background-size:100% 100%;background-attachment:fixed;background-repeat:no-repeat;">
<div id="b1">
    <div class="border rounded p-4 ml-6  w-50" id="bg-color">
{% for user in data %}
        <h1 class="text-center">User Profile</h1>
        <hr>
            <h4>Patient Full Name</h4>

        <p>{{user.Select_Your_User_Id.first_name}} {{user.Select_Your_User_Id.last_name}} </p>
        <hr>
        <h4>Gender</h4>

        <p> {{user.Gender}}</p>
                <hr>

            <h4>Age</h4>

        <p>{{user.Age}}</p>
                <hr>

            <h4>Blood Group</h4>

        <p>{{user.Blood_Group}}</p>
                <hr>

            <h4>Mobile No</h4>

        <p>{{user.Mobile_No}}</p>
                <hr>

            <h4>Address</h4>

        <p>{{user.Address}}</p>
                <hr>

            <h4>Pincode</h4>

        <p>{{user.Pincode}}</p>
                <hr>

            <h4>Handicapped</h4>

{% if user.Handicapped %}
        <p>Yes</p>
{% else %}
        <p>No</p>
        {% endif %}
                <hr>

            <h4>Email Id</h4>

        <p>{{user.Select_Your_User_Id.email}}</p>
                <hr>

            <h4>Username</h4>

        <p>{{user.Select_Your_User_Id.username}}</p>
{% endfor %}
</div>
</div>
</body>
{% endblock %}